.App {
  text-align: center;
}


.inputs input{
  width: 20vw;
  height: 5vh;
  margin: 10px;
  border-radius: 10px;
  padding: 0 10px;
}
.inputs button{
  width: 10vw;
  height: 5vh;
  border-radius: 8px;
  background-color: cadetblue;
  color: whitesmoke;
  font-size: larger;
}
.details{
  margin-top: 20px;
}
.details table{
   border-collapse: collapse;
   border: 2px solid;
   width: 60%;
}
table th,td{
  border: 2px solid;
  padding: 10px;
}